@page "/impressum"

    <div class="container-fluid">
        <br />
        <h1>Kontakt</h1>

        <p>Mila</p>
        <p>Kulinarischer Himmel 1, Himmelstür</p>
        <p>m@mail.com</p>
    </div>

