@inherits LayoutComponentBase


<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="container-fluid bg-info">
        <div class="row">
            <div style="padding-left: 0px; padding-right: 0px;" class="col-sm-2">
                <img src="resources/IMG_1586.JPG" alt="yummy" class="img-fluid" />
            </div>
            <div style="padding-left: 0px; padding-right: 0px;" class="col-sm-2">
                <img src="resources/IMG_1681.JPG" alt="yummy" class="img-fluid" />
            </div>
            <div style="padding-left: 0px; padding-right: 0px;" class="col-sm-2">
                <img src="resources/IMG_1704.JPG" alt="yummy" class="img-fluid" />
            </div>
            <div style="padding-left: 0px; padding-right: 0px;" class="col-sm-2">
                <img src="resources/macarons.JPG" alt="yummy" class="img-fluid" />
            </div>
            <div style="padding-left: 0px; padding-right: 0px;" class="col-sm-2">
                <img src="resources/IMG_1298.JPG" alt="yummy" class="img-fluid" />
            </div>
            <div style="padding-left: 0px; padding-right: 0px;" class="col-sm-2">
                <img src="resources/pizza.JPG" alt="yummy" class="img-fluid" />
            </div>
        </div>
    </div>

    <div class="content px-4 bg-info">
        @Body
    </div>
</div>
