<div class="top-row pl-5 navbar bg-info">
    <a class="navbar-brand" href="">Menu</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu" style="background-image: url('resources/sunnyclouds.JPG');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="caloriesperday">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Nutrition of today
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="enternewfood">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Enter new food
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="foodoverview">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Food overview
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
